
body{
background: url("img/drzewo.jpg");
background-size :100;
background-attachment: fixed;
font-family: 'Patrick Hand', cursive;
}

div.container{
  width: 1140px;
  margin:auto;
  padding: 0 15px;
}
div.main-content{

  width: 70%;
  float:left;
}

div.sidebar{
  width:30%;
  float: left;
}

div.content{

overflow: auto;
}

article , aside ,footer, header, section {
display: block;

}

article, .title ,footer,aside{
  background: rgba(255, 255 ,255, 0.6);
  padding: 10px;
}

header{
margin-bottom :15px;

}
article {
margin-right: 15px;
margin-bottom: 15px;
overflow: auto;
text-align: justify;
}

footer {
  margin-top: 15px;
  text-align: center;
}

figure {
float:left;
border-right: 2px dashed;
border-bottom: 2px dashed;
padding: 10px;
  }

figcaption{
  text-align: center;
}

#htmnl5 h2 {
  color: #E44D26;
}

#css3 h2 {
  color: #0070BA;
}

header h1{
  color :#1CB11D;
}

aside h2{

  color : yellow;
}

nav ul{
  list-style: none;
  overflow: auto;
  background: rgba(0,0,0,0.6);
  padding: 0;
}

nav ul li {
  float: left;
  margin-right: 20px;
  height: 40px;
  width: 100px;
  margin: 10px

}

nav ul li a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  display: table;
  width: 100%;
  height: 100%;

}

nav ul li a span{
display:table-cell;
vertical-align: middle;
}

.start{
background: rgba(255,255,48,0.5);

}


.about{
background: rgba(242,102,41,0.5);
}

.podstawy{
background: rgba(255,255,255,0.5);
}
.krypto{
  background: rgba(39,200,45,0.5);


}
.register{
background: rgba(255,255,255,0.5);
float :right;
}

form{
background: rgba(255, 255 ,255, 0.6);
padding: 15px;
}

form div.row{
width:50%;
margin:auto;
margin-bottom: 10px;
}

form label{
width:30%;
text-align: end;
display: block;
float:left;
margin-right: 20px;

}

form input, form select, form textarea{
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}
form input[type="checkbox"]{
  position: relative;
  left: 30%;
  width: auto;
}
form span{
  position: relative;
  left: 30%;
}

form input [type="submit"]{
  width:100px;
  background: rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  cursor: pointer;
}

form.div.row: last-of-type{
text-align:center;

}
